@font-face {
    font-family: 'establishRoomNo703OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRoomNo703OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
   font-family: 'establishRoomNo703OTF';
}

.Bigbox{
    display: grid;
    grid-template-columns: 0.8fr 1fr 0.8fr;
}

.box{
    box-shadow: 7px 7px 14px #bebebe, -7px -7px 14px #ffffff;
    border-radius: 30px;
}

.image{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: -1;
}

.flexContainerHeader{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 15px 15px 15px;
    gap: 5px;

}

.nav{
    grid-area: 1 / 1 / 2 / 4;
}

.navbar{
    width: 100%;
}

#weatherBox{
    height: 100%;
    float: left;
    padding: 20px;
    margin-left: 30px;
}

#weatherBox span{
    font-size: 30px;
}

#weatherBox p{
    margin: 0;
    font-size: 15px;
}

#loginBox{
    float: right;
    padding-right: 20px;
    align-items: center;
    height: 100%;
}

#loginForm{
    padding-top: 5px;
    margin-top: 20px;
}

.btn{
    border-radius: 30px;
    background-color: #EEDDCC;
    margin-top: 5px;
}

.todoBtn{
    border: 0;
    font-size: 20px;
}

.todoText{
    width: 80%;
}

.snowingbtn{
    float: left;
    border: 0;
}
.snowingbtn:hover{
    background-color: grey;
}

.text{
    border-radius: 30px;
    margin-top: 5px;
}

.flexContainerMain{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height:100%;
}
.div1{
    height: 100%;
    width: 50%;
    align-items: center;
    padding: 15px 15px 15px 15px;
    gap: 5px;
}

.div2{
    height: 50%;
    margin-top: 40px;
}

#time p{
    margin: 0;
    font-size: 50px;
}
.hidden{
    display: none;
}

#nicknameBox{
    margin-top:30px;
}

#nicknameBox h1{
    font-size: 30px;
   
}

#todoForm input{
    border: none;
    border-bottom: 1px solid #D3D3D3;
    background: 0;
    height: 30px;
    font-size: 1.5rem;
    text-align: center;
}

#todoList li{
    font-size: 30px;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

ul{
    list-style: none;
    overflow: hidden;
}

#quote{
    text-align: center;
}

#quote p{
    font-size: 1.3rem;
}
/* snow */
.intro.intro a{
    color:#fff;
}
/* customizable snowflake styling */
.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}
  
@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
/* Demo Purpose Only*/
.demo {
    font-family: 'Raleway', sans-serif;
    color:#fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}
